
body{
  width: 600px;
  margin: auto;
}

figure{
  margin-top: 30px;
cursor: pointer;
  border: 5px solid white;
  box-shadow: 0 0 4px rgba(0,0,0,.3);
  position: relative;
  overflow: hidden;

}

figure img{
  transition: all 1.5s;
  width: 100%;
}
figcaption {
  
  color: white;
  background: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
opacity: 0;
  transition: all 0.4s ease-in;
    transition-delay: .4s;
 transform: rotate(360deg);
}

figcaption p, 
figcaption h3{
  padding: 10px 20px;
}
figcaption p{
  font-family: cursive;
}

figcaption h3{
  font-family: Roboto;
  text-transform: uppercase;
  background: black;
}


figure:hover figcaption{
  opacity: 1;

 transform: rotate(0);
}
figure:hover img{
 
  transform: scale(1.1);
}